
<style>

.sameLine {display: inline-block;}
button {margin-left: 10px;
        outline: none;
        border: none;
        background: none;}
.categoryUL {display: none;}
.create-update-form{
  max-height: 380px;
  overflow-y: auto;
}
.create-update-form::-webkit-scrollbar{
  display: none;
}
/*.ingredients {overflow: scroll; }*/
.ingredientContainer{
  max-height: 380px;
  overflow-y: auto;
}
.ingredientContainer::-webkit-scrollbar{
  display: none;
}
.instructions{
  max-height: 150px;
  overflow-y: auto;
}
..instructions::-webkit-scrollbar{
  display: none;
}
.panel-heading{
  font-size:20px;
}
/*.panel-default{
  height: 450px;
  width: 430px;
}  */
.panel-heading{
  background : : green;
}
.allOutStyle {
  background-color: grey;
  font-weight: 200;
}
.inPantryStyle {
  background-color: green;
  font-weight: bold;
}

.categorySection {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.43;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
</style>

<div class="background-area content">
  <section id="addRecipe">
    <div class="container">


      <div class="row">  {{!-- title --}}
        <div class="container col-md-12">

          <div class="containerTitle">
            <h2 class="heading"><span>Add Your Recipe!</span></h2>
          </div> {{!-- .containerTitle --}}
          <div class="containerTitle">
            <h2 id="status" class="heading"><span></span></h2>
          </div> {{!-- .containerTitle --}}
        </div> {{!-- .container col-md-12 --}}
      </div> {{!-- .row title--}}

      <div class="row"> {{!-- .row --}}
        <div class="container col-md-12"> {{!-- form --}}
          <form class="create-update-form" id="addRecipeForm" >


            <div class="container col-md-6">
              <label for="recipe">Recipe Name: </label>
              <input type="text" class="form-control" id="title">

              <label for="cuisine">Cuisine: </label>
                <select class="form-control" id="cuisine">
                  <option value="any" selected>Any</option>
                  <option value="African">African</option>
                  <option value="American">American</option>
                  <option value="British">British</option>
                  <option value="Cajun">Cajun</option>
                  <option value="Caribbean">Caribbean</option>
                  <option value="Chinese">Chinese</option>
                  <option value="Eastern+European">Eastern European</option>
                  <option value="German">German</option>
                  <option value="Greek">Greek</option>
                  <option value="Indian">Indian</option>
                  <option value="Irish">Irish</option>
                  <option value="Italian">Italian</option>
                  <option value="French">French</option>
                  <option value="Japanese">Japanese</option>
                  <option value="Jewish">Jewish</option>
                  <option value="Korean">Korean</option>
                  <option value="Latin+American">Latin American</option>
                  <option value="Mexican">Mexican</option>
                  <option value="Middle+Eastern">Middle Eastern</option>
                  <option value="Southern">Southern</option>
                  <option value="Spanish">Spanish</option>
                  <option value="Thai">Thai</option>
                  <option value="Vietnamese">Vietnamese</option>
                  <option value="Nordic">Nordic</option>
                </select>

              <label for="type">Type: </label>
                <select class="form-control" id="type">
                  <option value="any">Any</option>
                  <option value="appetizer">Appetizer</option>
                  <option value="beverage">Beverage</option>
                  <option value="bread">Bread</option>
                  <option value="breakfast">Breakfast</option>
                  <option value="dessert">Dessert</option>
                  <option value="drink">Drink</option>
                  <option value="main+course">Main Course</option>
                  <option value="salad">Salad</option>
                  <option value="sauce">Sauce</option>
                  <option value="side+dish">Side Dish</option>
                  <option value="soup">Soup</option>
                </select>
            </div>

            <div class="container col-md-6">
              <label for="prepMins">Preparation Minutes: </label>
              <input type="text" class="form-control" id="prepMins">

              <label for="cookMins">Cooking Minutes: </label>
              <input type="text" class="form-control" id="cookMins">

              <label for="servings">Servings: </label>
              <input type="text" class="form-control" id="servings">
            </div> {{!-- .container col-md-6 --}}

            <div class="container col-md-12">
              <label for="ingredient">Recipe Ingredients: </label>
              <br>
            </div>

            <div class="container col-md-12 ingrBlock ">
              <div class="container col-md-12">
                <h3 class="text-center lead">Build Your Ingredients List Here</h3>
              </div>

              <div class="row">
                <div class="container col-md-8 ingrBlock">

                  <div class="row">
                    <div class="container col-md-8 ingrBlock">
                      <table class="table borderTable" id="ingrTable">
                        <tr>
                          <th>Ingredient</th>
                          <th>Amount</th>
                          <th>Unit</th>
                        </tr>
                      </table>
                      <br>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">

                      <label for="ingredientName">Choose Ingredient</label>
                      <input type="text" class="form-control" id="ingredientName">
                    </div>{{!-- .col-md-4 --}}

                    <div class="container col-md-2">
                      <label for="ingredientAmount">Amount: </label>
                      <input type="text" class="form-control" id="ingredientAmount">
                    </div>{{!-- .col-md-2 --}}

                    <div class="container col-md-2">
                      <label for="ingredientUnit">Units: </label>
                      <input type="text" class="form-control" id="ingredientUnit">
                    </div>{{!-- .col-md-2 --}}
                  </div>{{!-- .row --}}
                </div>{{!-- .col-md-8 --}}

                <div class="container col-md-4" ingrBlock>
                  <label for="list">Ingredient List: </label>

                  <div class="pantry">
                    <div class="containerTitle">
                      </br>
                      <div class="ingredientContainer" id="pantryList">
                      {{! ***** ingredients grouped by categories go here}}
                      {{#each categories}}
                        <div>
                          <h4 class="categorySection">{{this.className}}</h4>
                          <ul class = "categoryUL catID{{this.id}}">

                          </ul>
                        </div>
                      {{/each}}
                      </div>
                    </div> {{!-- .containerTitle --}}
                  </div> {{!-- container pantry --}}
                </div> {{!-- .col-md-4 --}}
              </div> {{!-- .row --}}
              <div class="container col-md-12">
                <button type="button" class="btn btn-default form-control" id="addToList">Add Ingredient</button>
              </div>
            </div> {{!-- .col-md-12 ingrBlock --}}

            <div class="container col-md-12">

                <label for="preferences">Special Diet: </label>
                <br>
                  <label class="checkbox-inline"><input type="checkbox" value="1" id="vegan">Vegan</label>
                  <label class="checkbox-inline"><input type="checkbox" value="1" id="vegetarian">Vegetarian</label>
                  <label class="checkbox-inline"><input type="checkbox" value="1" id="glutenFree">Gluten-Free</label>

                <br>
                <br>



                <label for="instructions">Instructions: </label>
                <textarea class="form-control" rows="8" id="instructions" id="instructions"></textarea>

                {{!-- form submit button  --}}
                <button type="button" id="submitRecipe" class="btn btn-default form-control" align="center">Add Recipe</button>

            </div>{{!-- .container col-md-12 --}}
          </form>
        </div>{{!-- .col-md-12 --}}
      </div>{{!-- .row --}}
    </div>{{!-- .container --}}
  </section>{{!-- #addRecipe --}}
</div>


<!-- <section id="addRecipe"> -->
  <!-- <div class="container">
   <div class="paddingBlock">
   <div class="equalHWrap eqWrap">
  <h2 class="heading"><span>Add Your Recipe!</span></h2>

  <div class="col-md-6 ingredients">
  <div class="equalHW eq">
  <div class="containerTitle">
  <div class="panel panel-default">
  <div class="panel-heading">Ingredients</div>
  <div class="panel-body">
    {{!-- form --}}
  <form class="create-update-form" id="addRecipeForm" >

  <label for="recipe">Recipe Name: </label>
  <input type="text" class="form-control" id="title">

  <label for="ingredientName">Choose Ingredient</label>
  <input type="text" class="form-control" id="ingredientName">

  <label for="ingredientAmount">Amount: </label>
  <input type="text" class="form-control" id="ingredientAmount">

  <label for="cuisine">Cuisine: </label>
    <select class="form-control" id="cuisine">
    <option value="any" selected>Any</option>
    <option value="African">African</option>
    <option value="American">American</option>
    <option value="British">British</option>
    <option value="Cajun">Cajun</option>
    <option value="Caribbean">Caribbean</option>
    <option value="Chinese">Chinese</option>
    <option value="Eastern+European">Eastern European</option>
    <option value="German">German</option>
    <option value="Greek">Greek</option>
    <option value="Indian">Indian</option>
    <option value="Irish">Irish</option>
    <option value="Italian">Italian</option>
    <option value="French">French</option>
    <option value="Japanese">Japanese</option>
    <option value="Jewish">Jewish</option>
    <option value="Korean">Korean</option>
    <option value="Latin+American">Latin American</option>
    <option value="Mexican">Mexican</option>
    <option value="Middle+Eastern">Middle Eastern</option>
    <option value="Southern">Southern</option>
    <option value="Spanish">Spanish</option>
    <option value="Thai">Thai</option>
    <option value="Vietnamese">Vietnamese</option>
    <option value="Nordic">Nordic</option>
    </select>

  <label for="type">Type: </label>
  <select class="form-control" id="type">
    <option value="any">Any</option>
    <option value="appetizer">Appetizer</option>
    <option value="beverage">Beverage</option>
    <option value="bread">Bread</option>
    <option value="breakfast">Breakfast</option>
    <option value="dessert">Dessert</option>
    <option value="drink">Drink</option>
    <option value="main+course">Main Course</option>
    <option value="salad">Salad</option>
    <option value="sauce">Sauce</option>
    <option value="side+dish">Side Dish</option>
    <option value="soup">Soup</option>
    </select>

  <label for="prepMins">Preparation Minutes: </label>
  <input type="text" class="form-control" id="prepMins">

  <label for="cookMins">Cooking Minutes: </label>
  <input type="text" class="form-control" id="cookMins">

  <label for="servings">Servings: </label>
  <input type="text" class="form-control" id="servings">

  <label for="preferences">Special Diet: </label>   <br>
  <label class="checkbox-inline"><input type="checkbox" value="1" id="vegan">Vegan</label>
  <label class="checkbox-inline"><input type="checkbox" value="1" id="vegetarian">Vegetarian</label>
  <label class="checkbox-inline"><input type="checkbox" value="1" id="glutenFree">Gluten-Free</label>

  </div>
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>


{{! ************* DIVISION FOR INGREDIENTS IN PANTRY ************************** -}}
<div class="col-md-6 ingredients">
<div class="equalHW eq">
<div class="containerTitle">
<div class="panel panel-default">
<div class="panel-heading">Ingredients</div>
<div class="panel-body">
<div class="ingredientContainer" id="pantryList">
{{! ***** ingredients go here}}

{{#each categories}}
<div>
<h4 class="categorySection">{{this.className}}<i class="fa fa-hand-o-down pull-right"></i></h4>
 <ul class = "list-group categoryUL catID{{this.id}}">
 </ul>
</div>
{{/each}}
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

<div class="container">
<div class="col-md-12 ingredients">
<label for="instructions"><strong>Instructions:</strong> </label>
<textarea class="form-control" rows="8" id="instructions" id="instructions"></textarea>
<br>
{{!-form submit button  }}
<button type="button" id="submitRecipe" class="btn btn-default form-control" align="center">Add Recipe</button>

</div>
</div>





<script>
 {{! *** CREATE THE HTML FOR EACH INGREDIENT **** --}}
  {{! ********* AND APPEND IT TO THE APPROPRIATE DIVISION ******* --}}

  {{#each ingredients}}

    var ingredientLI = $('<li>');

    var statusStyle =({{this.inPantry}} ? "inPantryStyle" : "allOutStyle");
    var changeStatusTo = ({{this.inPantry}} ? "0" : "1");

    ingredientLI.append('<button data-id="{{this.id}}" data-pantryStatus="' + changeStatusTo + '" data-name="{{this.name}}" class="ingrButton ' + statusStyle + '" type="button">{{this.name}}</button>');


    $('#pantryList').find('.catID{{this.CategoryId}}').append(ingredientLI);
  {{/each}}



$(document).ready(function() {

  var recipeInfo = {};
  var ingredientInfo = [];
  var pendingIngredient = {};

  $('.categorySection').on('click', function(event){
    console.log("this was clicked");
    event.stopPropagation();
    $(this).closest('div').find('.categoryUL').slideToggle();
    });

    $('#pantryList').on('click', '.ingrButton', function(){
    event.stopPropagation();
    pendingIngredient.id = $(this).attr('data-id');
    pendingIngredient.name = $(this).attr('data-name');
    $('#ingredientName').val(pendingIngredient.name);
  });

  $('#addToList').on('click', function(){
    ingredientInfo.push({
      id: (pendingIngredient.id || ""),
      name: pendingIngredient.name,
      amount: $('#ingredientAmount').val().trim(),
      unit: $('#ingredientUnit').val().trim()
      });

    pendingIngredient = {};
    var lastIndex = (ingredientInfo.length - 1);
    var ingrTable = $('#ingrTable');
    ingrTable.append('<tr><td>' + ingredientInfo[lastIndex].name + '</td><td>' + ingredientInfo[lastIndex].amount + '</td><td>' + ingredientInfo[lastIndex].unit + '</td></tr>');

    $('#ingredientName').val("");
    $('#ingredientAmount').val("");
    $('#ingredientUnit').val("");
  });

  $('#submitRecipe').on('click', function(){
    event.stopPropagation();
    console.log("ingredientInfo: ", ingredientInfo);
    var recipeTitle = $('#title').val().trim();
    var servings = (isNaN($('#servings').val()) ? 0 : $('#servings').val().trim());
    var prepMins = (isNaN($('#prepMins').val()) ? 0 : $('#prepMins').val().trim());
    var cookMins = (isNaN($('#cookMins').val()) ? 0 : $('#cookMins').val().trim());
    if ((recipeTitle) && (ingredientInfo.length > 0)) {

      var data = {
        title: recipeTitle,
        cuisine: $('#cuisine').val().trim(),
        type: $('#type').val().trim(),
        vegan: $('#vegan').val().trim(),
        vegetarian: $('#vegetarian').val().trim(),
        glutenFree: $('#glutenFree').val().trim(),
        servings: servings,
        preparationMinutes: prepMins,
        cookingMinutes: cookMins,
        instructions: $('#instructions').val().trim(),
        spoonID: 0,
        ingredients: ingredientInfo
      };
      $.ajax({
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json',
        url: 'addRecipe',
        success: function(data, textStatus, jqXHR){
          if (typeof(data.redirect) == 'string') {window.location = data.redirect}
        }
      })
    } else {
      $('#status').append("need a recipe title and at least one ingredient");
    }
  });
});

</script>


